.fundo{
    width: 200vh;
    height: 100vh;
    background-color: rgb(188, 20, 255);
    align-items: center;
    display: flex;
    justify-content: center;
}

.drado{
    width: 500px;
    height: 700px;
    background-color: rgb(245, 245, 245);
    border-radius:  20px;
    display: flex;
    

}

.h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-weight: bold;
}
